<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.custom.DxExchangeListMapper">
    <resultMap id="BaseResultMap" type="com.model.po.DxExchangeList" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="time" property="time" jdbcType="VARCHAR" />
        <result column="serial_no" property="serialNo" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="equi_num" property="equiNum" jdbcType="VARCHAR" />
        <result column="operator" property="operator" jdbcType="VARCHAR" />
        <result column="result_code" property="resultCode" jdbcType="VARCHAR" />
        <result column="fault_code" property="faultCode" jdbcType="VARCHAR" />
        <result column="fault_string" property="faultString" jdbcType="VARCHAR" />
        <result column="err_code" property="errCode" jdbcType="VARCHAR" />
        <result column="err_desc" property="errDesc" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectByphoneNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT * FROM dx_exchange_list WHERE  phone=#{_parameter}
    </select>
    <!--订单创建后插入数据库-->
    <insert id="insertOrder" parameterType="com.model.po.DxExchangeList" >
        insert into dx_exchange_list
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="time != null" >
                time,
            </if>
            <if test="serialNo != null" >
                serial_no,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="equiNum != null" >
                equi_num,
            </if>
            <if test="operator != null" >
                operator,
            </if>
            <if test="resultCode != null" >
                result_code,
            </if>
            <if test="faultCode != null" >
                fault_code,
            </if>
            <if test="faultString != null" >
                fault_string,
            </if>
            <if test="errCode != null" >
                err_code,
            </if>
            <if test="errDesc != null" >
                err_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="time != null" >
                #{time,jdbcType=VARCHAR},
            </if>
            <if test="serialNo != null" >
                #{serialNo,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="equiNum != null" >
                #{equiNum,jdbcType=VARCHAR},
            </if>
            <if test="operator != null" >
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="resultCode != null" >
                #{resultCode,jdbcType=VARCHAR},
            </if>
            <if test="faultCode != null" >
                #{faultCode,jdbcType=VARCHAR},
            </if>
            <if test="faultString != null" >
                #{faultString,jdbcType=VARCHAR},
            </if>
            <if test="errCode != null" >
                #{errCode,jdbcType=VARCHAR},
            </if>
            <if test="errDesc != null" >
                #{errDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>